body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #8585d4, #800080, #d89ed5, #ffffff, #40e0d0, #d79891), url('contactbackground.jpg') center center / cover no-repeat fixed;
    background-blend-mode: overlay;
    background-size: 300% 300%;
    animation: gradientAnimation 30s ease infinite;
    color: #333; /* Ändert die Textfarbe */
}

.navbar {
    background-color: #ADD8E6; /* Ändert die Hintergrundfarbe der Navigationsleiste */
    color: #fff; /* Ändert die Textfarbe der Navigationsleiste */
    border-bottom: 5px solid #90EE90; /* Ändert die Farbe der unteren Grenze der Navigationsleiste */
}

.navbar-nav .nav-link {
    color: #fff; /* Ändert die Textfarbe der Navigationslinks */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    background-color: #90EE90; /* Ändert die Hintergrundfarbe der Navigationslinks beim Überfahren oder Fokussieren */
    color: #333; /* Ändert die Textfarbe der Navigationslinks beim Überfahren oder Fokussieren */
}

footer {
    background-color: #90EE90; /* Ändert die Hintergrundfarbe der Fußzeile */
    color: #fff; /* Ändert die Textfarbe der Fußzeile */
}

form {
    background: linear-gradient(to right, #000000, #c0c0c0); /* Ändert den Hintergrundverlauf des Formulars */
}

form input[type="submit"] {
    background-color: #90EE90; /* Ändert die Hintergrundfarbe der Schaltfläche "Senden" */
}

form input[type="submit"]:hover {
    background-color: #80e080; /* Ändert die Hintergrundfarbe der Schaltfläche "Senden" beim Überfahren */
}
