body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #7a91c2, #80c7b4, #c8d0e7, #f4e7f6, #96d1c3, #ffeed2), #4a4daa;
    background-size: 300% 300%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Stil für die Erfahrungs-Liste */
ul.experience-list {
    padding: 0;
    list-style-type: none;
}

ul.experience-list li {
    background-color: #e3e3e3;
    margin: 15px 0;
    padding: 15px;
    border-left: 5px solid #a2d2a2; /* Neue Farbe für einen einzigartigen Look */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Header-Stil anpassen */
header {
    background-color: #a0d0d6; /* Neue Farbe für einen einzigartigen Look */
    color: #444;
    border-bottom: 5px solid #a2d2a2; /* Neue Farbe für Konsistenz */
    transition: all 0.5s ease;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #444;
    padding: 10px 15px;
    transition: all 0.5s ease;
}

header nav ul li a:hover,
header nav ul li a:focus {
    background-color: #a2d2a2; /* Neue Farbe für einen subtilen Effekt */
    color: #444;
    border-radius: 8px;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #a2d2a2; /* Neue Farbe für Konsistenz */
    transition: width 0.5s ease;
}

header nav ul li a:hover::after,
header nav ul li a:focus::after {
    width: 100%;
}

/* Footer-Stil anpassen */
footer {
    text-align: center;
    background-color: #a2d2a2; /* Neue Farbe für einen einzigartigen Look */
    color: #444;
    padding: 15px 0;
    font-size: 0.85em;
}
