body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #8585d4, #800080, #d89ed5, #ffffff, #40e0d0, #d79891), #352386;
    background-size: 300% 300%;
    animation: gradientAnimation 30s ease infinite;
    color: #333; /* Ändert die Textfarbe */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#dimisfoto {
    display: block;
    margin: auto;
    width: 100px; /* Ändert die Bildbreite auf 40px */
    border: 5px solid #ADD8E6;
    box-shadow: 0 0 20px #90EE90;
    border-radius: 10px;
}

.navbar {
    background-color: #ADD8E6; /* Ändert die Hintergrundfarbe der Navigationsleiste */
    color: #fff; /* Ändert die Textfarbe der Navigationsleiste */
    border-bottom: 5px solid #90EE90; /* Ändert die Farbe der unteren Grenze der Navigationsleiste */
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #fff; /* Ändert die Textfarbe der Navigationslinks */
    font-size: 14px; /* Verkleinert die Schriftgröße der Navigationslinks */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    background-color: #90EE90; /* Ändert die Hintergrundfarbe der Navigationslinks beim Überfahren oder Fokussieren */
    color: #333; /* Ändert die Textfarbe der Navigationslinks beim Überfahren oder Fokussieren */
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #90EE90; /* Ändert die Hintergrundfarbe der Fußzeile */
    color: #fff; /* Ändert die Textfarbe der Fußzeile */
    padding: 10px 0;
    font-size: 0.8em;
}

.main-content {
    padding: 20px;
    color: #333;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    color: #352386;
}

.main-content p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e3e3e3;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #90EE90;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
