body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #7a91c2, #80c7b4, #c8d0e7, #f4e7f6, #96d1c3, #ffeed2), #4a4daa;
    background-size: 300% 300%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Header-Stil anpassen */
.navbar {
    background-color: #a0d0d6; /* Neue Farbe für einen einzigartigen Look */
    color: #444;
    border-bottom: 5px solid #a2d2a2; /* Neue Farbe für Konsistenz */
    transition: all 0.5s ease;
}

.navbar .nav-link {
    text-decoration: none;
    color: #444;
    padding: 10px 15px;
    transition: all 0.5s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    background-color: #a2d2a2; /* Neue Farbe für einen subtilen Effekt */
    color: #444;
    border-radius: 8px;
}

/* Footer-Stil anpassen */
footer.footer {
    text-align: center;
    background-color: #a2d2a2; /* Neue Farbe für einen einzigartigen Look */
    color: #444;
    padding: 15px 0;
    font-size: 0.85em;
}
